<!DOCTYPE html>
<html lang="en">

<head>
  <link href="../styles/base.css" rel="stylesheet">
  <link href="../styles/sizing.css" rel="stylesheet">
</head>

<body height="1000px">

  <%- include('../partials/header'); %>

  <div class="page-wrapper">
    <div class="wrapper wrapper--w680">

      <div class="card card-4">
        <div class="card-body">

          <div class="row row-space">
            <div class="col-1">
              <a class="btn btn--radius-2 btn--blue" href="/forms/new_journal_entry">NEW JOURNAL</a>
            </div>
          </div>

        </div>
      </div>

      <div class="card card-4 m-t-30">
        <div class="card-body">
          <div class="row row-space">
            <div class="col-1">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</body>




</html>
