<!DOCTYPE html>
<html lang="en">

<head>
  <link href="styles/style.css" rel="stylesheet">
  <title><%= page_name %></title>
</head>

<body height="1000px">
  <%- include('../partials/header'); %>
  <div id="links" height=1000px>
    <a href="/calendar/month_calendar.ejs">CALENDAR</a>
    <a href="journal">JOURNAL</a>
    <a href="data_log">DATA</a>
    <a href="home.html">TO-DO</a>
    <a href="home.html">ARCHIVES</a>
  </div>

</body>


</html>
